Host *
LogLevel QUIET
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
ControlMaster no
ControlPersist yes
ControlPath ~/.ssh/an_socket-%r@%h:%p
TCPKeepAlive yes
ServerAliveInterval 250
ServerAliveCountMax 20
ForwardAgent yes
BatchMode yes


# yospl local
Host 192.168.32.*
ForwardAgent           yes
ServerAliveInterval    260
TCPKeepAlive           yes
ProxyCommand           ssh -i ./ssh/keys/yellow_local.pem -W %h:%p ubuntu@192.168.32.185
ControlMaster          auto
ControlPath            ~/.ssh/mux-%r@%h:%p
StrictHostKeyChecking  no
    UserKnownHostsFile=/dev/null
    ControlPersist         8h
    User                   ubuntu
IdentityFile           ./ssh/keys/local-admin.pem


